# YerkoAndrei

# En proceso / Verso:
# .txt
# Texto dentro de corchetes: [texto], significa negrita o cursiva
# Sangría son 4 espacios
# 1 salto de línea por cada párrafo
# 4 saltos de línea por cada capítulo
# 4 saltos de línea para título

# Prosa:
# .fodt
# Formato final imprimible
# Páginas numeradas
# Noto serif 11
# Imprimibles: Noto serif 10, portada en 11

# Prosa corta:
# Título en negrita
# Título usa 4 saltos de línea
# Título alineado a izquiera

# Prosa larga:
# Título usa una hoja
# Título en negrita
# Título centrado horizontal y verticalmente
# Portada no numerada
# Capítulo alineado a izquiera
# 4 saltos de línea por cada capítulo

# Krita
*.png~

#LibreOffice
*.fodt#
